<h2>Edit Profile</h2>
<form id="register" method="post" action="/artists/<%= @artist.id %>"enctype="multipart/form-data">
  <input type="hidden" name="_method" value="put">
  <div class="form-group">
    <label for="username">Full Name</label>
    <input name="artist[username]" type="text" class="form-control" id="username" placeholder="Full name" value="<%= @artist.username %>">
  </div>
  <div class="form-group">
    <label for="email">Email address</label>
    <input name="artist[email]" type="email" class="form-control" id="email" placeholder="Email" value="<%= @artist.email %>">
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input name="artist[password]" type="password" class="form-control" id="password" placeholder="Password">
  </div>
  <div class="form-group">
    <label for="bio">Biography</label>
    <textarea name="artist[bio]" type="bio" class="form-control" id="bio" placeholder="Biography"></textarea>
  </div>
  <div class="form-group">
    <label for="profile_pic">Profile Pic</label>
    <input name="artist[profile_pic]" type="file" class="form-control" id="profile_pic" placeholder= "Profile Pic" value="<%= @artist.profile_pic %>">
  </div>
  
  <button type="submit" class="btn btn-default">Submit</button>
</form>
